<div class="mt-lg-4 container">
  <br>
  <br>
  <div class="form-group">
    <label for="avatar">Chọn ảnh</label>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="avatar" formControlName="avatar" #fileUploader
        (change)="showPreview($event)">
        <label class="custom-file-label" for="avatar">Choose file</label>
      </div>
    </div>
  </div>
  <img [src]="imgSrc" height="125" width="100" (click)="fileUploader.click()">
</div>
